@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "intro_rust_gbase_2_line";
  src: url("../fonts/introrustg-base2line-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #1f2937;
}

::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}

body::-webkit-scrollbar {
  width: 2em;
}

::-webkit-scrollbar-track {
  background-color: #374151;
  border-radius: 100vw;
  margin-block: 0.5em;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #d1d5db;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #71717a;
  border: 2px solid #1f2937;
  border-radius: 100vw;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9CA3AF;
  border: 2px solid #1f2937; /* Border for contrast */
  border-radius: 100vw;
}

input:invalid:not(:placeholder-shown) {
  background-color: #f87171;
}

::backdrop {
  background-color: #d1d5db;
  opacity: 0.5;
}
