@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "intro_rust_gbase_2_line";
  src: url("../fonts/introrustg-base2line-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
