@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "intro_rust_gbase_2_line";
  src: url("../fonts/introrustg-base2line-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

input:invalid:not(:placeholder-shown) {
  background-color: #f87171;
}

::backdrop {
  background-color: #d1d5db;
  opacity: 0.5;
}

/* html {
  background-color: #1F2937;
} */
